.scrollable-container {
    height: 400px; /* Set the desired height */
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
  }
  
  .scrollable-container::-webkit-scrollbar {
    width: 6px; 
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  